.header-text {
  font-family: 'Press Start 2P', cursive;
  font-size: 12px;
  margin-top: 15px;
}

.form-label {
  font-family: 'Press Start 2P', cursive;
  font-size: 12px;
}

.btn {
  font-family: 'Press Start 2P', cursive;
  font-size: 12px;
}

