.vertical-navbar {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 65px; /* Ajusta esta altura según el tamaño del navbar horizontal */
  left: 0;
  height: calc(100% - 60px); /* Ajusta esta altura según el tamaño del navbar horizontal */
  width: 200px; /* Ajusta el ancho según sea necesario */
  z-index: 1000;
}

.navbar-nav {
  display: flex;
  flex-direction: column; /* Coloca los elementos en columna */
  align-items: flex-start; /* Alinea los elementos al inicio */
  padding-left: 10px; /* Ajusta este valor para mover los elementos a la izquierda */
  margin: 0;
}

.nav-item {
  margin: 10px 0; /* Añade espacio vertical entre los elementos */
  display: flex;
  align-items: center;
  margin-top: 60px;
}

.nav-item img {
  margin-right: 8px; /* Espacio entre la imagen y el texto */
}

.navbar-brand {
  margin-bottom: 20px; /* Añade espacio debajo del elemento "Inicio" */
  z-index: 1001; /* Asegura que "Inicio" esté por encima de los otros elementos */
  position: relative; /* Permite ajustar la posición de "Inicio" */
  margin-top: -150px;
  margin-right: -90px;
}

.navbar-brand .home {
  margin-right: 10px;
  margin-top: -130px; /* Ajusta la posición vertical de "Inicio" */
  padding-left: 10px; /* Alinea "Inicio" con los demás elementos */
  margin-bottom: 0; /* Asegura que "Inicio" no tenga margen inferior */
}

.background-container {
  margin-left: 200px; /* Ajusta este margen según el ancho del navbar vertical */
  height: calc(100vh - 60px); /* Ajusta esta altura según el tamaño del navbar horizontal */
  width: calc(100% - 200px); /* Ajusta este ancho según el ancho del navbar vertical */
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background-container img {
  width: 100%;
  height: 110vh;
}
